/* Contact page (_layouts/contact.html) styling */

/* Profile picture */
.profile_image {
    width: 40%;
    height: auto;
	border-radius: 50%;
}

@media (min-width: 576px) {
	.profile_image {
		width: 45%;
	}
}

@media (min-width: 768px) {
	.profile_image {
		width: 50%;
	}
}
