/* Custom fonts */

/* Google Sans */
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/Google-Sans-Font/Google-Sans-Font/GoogleSans-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
